{% extends 'base.html' %}

{% block content %}
      <!-- Тут идет блок для контента -->
      <h3>Личный кабинет</h3>
      <hr>
      <div class="row">
        <div class="col-md-2">
          {% include 'sidebar.html' %}
        </div>
        <div class="col-md-9">
          <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-12">
                {% csrf_token %}
               <h4>Имя ползователя:</h4>
                  {{ form.first_name }}
                <hr>
                  <h4>Фамилия пользователя:</h4>
                  {{ form.last_name }}
                <hr>
                  <h4>Номер телефона:</h4>
                  {{ form.phone }}
                <hr>
                <!--<h4>Изменить пароль:</h4>
                  <input type="password" name="pass" class="form-control" placeholder="Старый пароль">
                  <br>
                  <input type="password" name="pass1" class="form-control" placeholder="Новый пароль">
                  <br>
                  <input type="password" name="pass2" class="form-control" placeholder="Повторите пароль">
                <hr>-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить измнения</button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p>Л/С пользователя: {{ user.profile.account }}</p>
                <p>Ваш баланс: {{ user.profile.get_balance }}</p>
                <div class="thumbnail">
                  {% if user.profile.avatar %}
                  <img src="{{ user.profile.avatar.url }}">
                  {% else %}
                  <img src="/media/media/image/uploads_avatar/user.jpg">
                  {% endif %}
                    {{ form.avatar.errors }}
                    {{ form.avatar }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Тут идет блок для контента -->      
{% endblock %}
