{% extends 'base.html' %}

{% block content %}
<style>
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
</style>
      <form class="form-signin" role="form" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Заполните все поля:</h2>
        {{ form }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
      </form>
{% endblock %}
