{% extends 'base.html' %}

{% block content %}
<!-- Тут идет блок авторизации -->
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">Авторизация
        <span style="float:right; font-size: 80%;"><a href="#">Забыл пароль?</a></span>
      </div>
    </div>     
    <div style="padding-top:5%" class="panel-body" >
      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
      <form id="loginform" class="form-horizontal" role="form">
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
        </div>
        <!-- Button -->
        <div style="margin-top:5%;" class="col-md-12" align="right">
            <input type="submit" class="btn btn-success" value="Войти">
            <a href="#" class="btn btn-primary">Login with Facebook</a>
        </div>
          Нет аккаунта?<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()"> Регистрируйся здесь</a>
        <!-- Button -->
      </form>     
    </div>                     
  </div>  
</div>
<!-- Тут идет блок авторизации -->

  <div class="row well">
    <div class="col-md-12 well">
      <h1>Печатная продукция</h1>
      {% for product in 'object_list' %}
        <div class="col-lg-2 col-md-2 col-sm-4">
          <a href="#">
            <div class="thumbnail" align="center" >
              <img src="/media/media/image/uploads_avatar/user.jpg">
              <div class="caption">
                <h4>Это крутой товар</h4ё>
                <p>230$</p>
                <a href="#" class="btn btn-primary">Купить</a>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}