{% extends 'base.html' %}

{% block content %}
<div class="col-md-9">

<button id="get_name_button" type="button" class="btn btn-default btn-lg">Star</button>

<script>
  $('#get_name_button').click(function(){
    $.ajax({
      url: "/template/",
      type: "GET",
      data: {
        name:$('#get_name_button').html()
      },
      cache: false,
      dataType: "json",
      success: function(resp){
        $('#get_name_button').html(resp.name)
          // alert ("resp: "+resp.name);
      }
    });
  });
</script>

</div>
{% endblock %}