{% extends 'base.html' %}

{% block content %}
      <!-- Тут идет блок для контента -->
      <h3>Оплата услуг <small>{{prov.name}}</small></h3>
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          {% if not user.is_anonymous %}
          <div class="alert alert-success">
            <p align="center">Оплата прошла успешно!</p>
          </div>
          <div class="panel panel-success">
            <!-- Table -->
            <table class="table">
              <tr>
                  <td>Квитанция №:</td>
                  <td>{{ transaction.number }}</td>
              </tr>
              <tr>
                  <td>Реквизит:</td>
                  <td>{{ transaction.props }}</td>
              </tr>
              <tr>
                  <td>Сумма:</td>
                  <td>{{ amount }}</td>
              </tr>
              <tr>
                  <td>Коммисия:</td>
                  <td>0</td>
              </tr>
              <tr>
                  <td>Итого:</td>
                  <td>{{ amount }}</td>
              </tr>
              <tr>
                  <td>Остаток баланса:</td>
                  <td>{{ user.profile.get_balance }}</td>
              </tr>
              <tr>
                  <td colspan="2"><a class="btn btn-primary btn-block" href="{% url 'home' %}">Главная</a></td>
              </tr>
            </table>
          </div>
          {% else %}
          <div class="jumbotron">
            <h2>Привет, Аноним!</h2>
            <p>Для выполнения дальнейших действий, нужна авторизация...</p>
            <p>
              <div class="navbar-right">
                <a class="btn btn-primary navbar-btn" href="{% url 'registration' %}">Регистрация</a>
                <a class="btn btn-default navbar-btn" href="{% url 'login' %}"><i class="glyphicon glyphicon-user"></i> Войти</a>
              </div>
            </p>
          </div>
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-8">
              <h3>{{ prov.name }}</h3>
              <p>{{ prov.description }}</p>
              <p>В дескрипшн можно кидать урлы на сайт провайдера и еще че нить</p>
            </div>
            <div class="thumbnail col-lg-4">
              <img src="{{ prov.img.url }}">
            </div>
          </div>
          <div class="row panel panel-primary">
            <div class="panel-heading">Предыдущие оплаты данной услуги:</div>
            <table class="table table-striped">
              <tr>
                  <td>Дата транзакции</td>
                  <td>Реквизит</td>
                  <td>Сумма</td>
                  <td>Статус</td>
                  <td>Чек №</td>
              </tr>
              {% for pay in payments %}
              <tr>
                  <td>{{ pay.create_at }}</td>
                  <td>{{ pay.props }}</td>
                  <td>{{ pay.amount }}</td>
                  <td>{{ pay.get_status_display }}</td>
                  <td>{{ pay.number }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <!-- Тут идет блок для контента -->      
{% endblock %}
