{% extends 'base.html' %}

{% block content %}
      <!-- Тут идет блок для контента -->
      <h3>Категории услуг</h3>
      <hr>
      <div class="row">
        {% for cat in category %}
        <div class="col-lg-3 col-md-4 col-sm-12">
          <a href="{% url 'category' cat.slug %}">
            <div class="thumbnail">
              <img src="{{ cat.img.url }}" alt="{{ cat.img.title }}">
              <div class="caption" align="center">
                <h3>{{ cat.title }}</h3>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <!-- Тут идет блок для контента -->      
{% endblock %}
