{% extends 'base.html' %}

{% block content %}
<!-- Тут идет блок для контента -->
<h3><span class="glyphicon glyphicon-comment"></span> Чат с {{chat.provider}}</h3>
<hr>
<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-12">
    {% include 'sidebar.html' %}
  </div>
  <div class="col-lg-8 col-md-9 col-sm-12">
    <div class="panel panel-default">
<!-- Dialog -->
    {% include 'dialog.html' %}
<!-- End dialog -->
<!-- Answer -->
      <div class="panel-footer container-fluid">
        <form role="form" method="POST">
          {% csrf_token %}
          <div class="col-md-10 col-xs-10">
            {{ form.text }}
          </div>
          <div class="col-md-2 col-xs-2">
          {% if chat.status == true %}
            <button class="btn btn-primary deactiv" disabled="disabled">Отправить <span class="glyphicon glyphicon-send"></span></button>
          {% else %}
            <button class="btn btn-primary deactiv">Отправить <span class="glyphicon glyphicon-send"></span></button>
          {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 well">
    <p>Предыдущие чаты с данным провайдером</p>
    <p>Если ты их не видишь, значит ты гей! <img src="https://vk.com/images/emoji/D83DDE04.png" alt=""></p>
  </div>
</div>
<script type="text/javascript">
window.onload = function()
{
    document.getElementById('end').scrollIntoView(true);
}
</script>
{% endblock %}
